In [1]:
import pandas as pd
import numpy as np

In [2]:
pop = pd.read_csv('state-population.csv') 
areas = pd.read_csv('state-areas.csv') 
abbrevs = pd.read_csv('state-abbrevs.csv')
data=pd.read_excel('Paid and defaulting list.xlsx')

In [27]:
print(pop)

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

In [28]:
 print(areas)

                   state  area (sq. mi)
0                Alabama          52423
1                 Alaska         656425
2                Arizona         114006
3               Arkansas          53182
4             California         163707
5               Colorado         104100
6            Connecticut           5544
7               Delaware           1954
8                Florida          65758
9                Georgia          59441
10                Hawaii          10932
11                 Idaho          83574
12              Illinois          57918
13               Indiana          36420
14                  Iowa          56276
15                Kansas          82282
16              Kentucky          40411
17             Louisiana          51843
18                 Maine          35387
19              Maryland          12407
20         Massachusetts          10555
21              Michigan          96810
22             Minnesota          86943
23           Mississippi          48434
24              Missouri          69709
25               Montana         147046
26              Nebraska          77358
27                Nevada         110567
28         New Hampshire           9351
29            New Jersey           8722
30            New Mexico         121593
31              New York          54475
32        North Carolina          53821
33          North Dakota          70704
34                  Ohio          44828
35              Oklahoma          69903
36                Oregon          98386
37          Pennsylvania          46058
38          Rhode Island           1545
39        South Carolina          32007
40          South Dakota          77121
41             Tennessee          42146
42                 Texas         268601
43                  Utah          84904
44               Vermont           9615
45              Virginia          42769
46            Washington          71303
47         West Virginia          24231
48             Wisconsin          65503
49               Wyoming          97818
50  District of Columbia             68
51           Puerto Rico           3515

In [29]:
print(abbrevs)

                   state abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [30]:
merged = pd.merge(pop, abbrevs,how='inner',
                  left_on='state/region', right_on='abbreviation')
# drop duplicate info 
merged

     state/region     ages  year  population    state abbreviation
0              AL  under18  2012   1117489.0  Alabama           AL
1              AL    total  2012   4817528.0  Alabama           AL
2              AL  under18  2010   1130966.0  Alabama           AL
3              AL    total  2010   4785570.0  Alabama           AL
4              AL  under18  2011   1125763.0  Alabama           AL
...           ...      ...   ...         ...      ...          ...
2443           WY  under18  1993    137458.0  Wyoming           WY
2444           WY    total  1991    459260.0  Wyoming           WY
2445           WY  under18  1991    136720.0  Wyoming           WY
2446           WY  under18  1990    136078.0  Wyoming           WY
2447           WY    total  1990    453690.0  Wyoming           WY

[2448 rows x 6 columns]

In [31]:
merged.stack()

0     state/region           AL
      ages              under18
      year                 2012
      population      1117489.0
      state             Alabama
                        ...
2447  ages                total
      year                 1990
      population       453690.0
      state             Wyoming
      abbreviation           WY
Length: 14688, dtype: object

In [32]:
merged = merged.drop('abbreviation', 1)

C:\Users\MUZAMM~1\AppData\Local\Temp/ipykernel_6020/431581161.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  merged = merged.drop('abbreviation', 1)

In [33]:
merged

     state/region     ages  year  population    state
0              AL  under18  2012   1117489.0  Alabama
1              AL    total  2012   4817528.0  Alabama
2              AL  under18  2010   1130966.0  Alabama
3              AL    total  2010   4785570.0  Alabama
4              AL  under18  2011   1125763.0  Alabama
...           ...      ...   ...         ...      ...
2443           WY  under18  1993    137458.0  Wyoming
2444           WY    total  1991    459260.0  Wyoming
2445           WY  under18  1991    136720.0  Wyoming
2446           WY  under18  1990    136078.0  Wyoming
2447           WY    total  1990    453690.0  Wyoming

[2448 rows x 5 columns]

In [34]:
merged[merged['population'].isnull()]

Empty DataFrame
Columns: [state/region, ages, year, population, state]
Index: []

In [35]:
merged.loc[merged['state'].isnull(), 'state/region'].unique()

array([], dtype=object)

In [36]:
merged.loc[merged['state/region'] == 'PR', 'state'] = 'Puerto Rico' 
merged.loc[merged['state/region'] == 'USA', 'state'] = 'United States' 
merged.isnull().any()

state/region    False
ages            False
year            False
population      False
state           False
dtype: bool

In [37]:
#merged.loc[merged['names'] == 'ali', 'marks'] = '80' 
#merged.loc[merged['names'] == 'ahmad', 'marks'] = '70' 
#merged.isnull().any()

In [38]:
final=pd.merge(merged, areas, on='state', how='left')

In [39]:
final.isnull().any()

state/region     False
ages             False
year             False
population       False
state            False
area (sq. mi)    False
dtype: bool

In [40]:
final['state'][final['area (sq. mi)'].isnull()].unique()

array([], dtype=object)

In [41]:
#We can compute the same result via pd.eval by constructing the expression as a 
#string:
#eval() child object of pandas
#It cannot be expressed using the Data 
#Frame.eval() syntax, however! Instead, for this type of filtering operation, you can 
#use the query() method:
#In[24]: result2 = df.query('A < 0.5 and B < 0.5') 
#np.allclose(result1, result2)

In [42]:
final = pd.merge(merged, areas, on='state', how='left') 
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama          52423
1           AL    total  2012   4817528.0  Alabama          52423
2           AL  under18  2010   1130966.0  Alabama          52423
3           AL    total  2010   4785570.0  Alabama          52423
4           AL  under18  2011   1125763.0  Alabama          52423

In [43]:
final.isnull().any()

state/region     False
ages             False
year             False
population       False
state            False
area (sq. mi)    False
dtype: bool

In [44]:
final['state'][final['area (sq. mi)'].isnull()].unique()

array([], dtype=object)

In [45]:
data2010 = final.query("year == 2010 & ages == 'total'") 
data2010.head()

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama          52423
91            AK  total  2010    713868.0      Alaska         656425
101           AZ  total  2010   6408790.0     Arizona         114006
189           AR  total  2010   2922280.0    Arkansas          53182
197           CA  total  2010  37333601.0  California         163707

In [50]:
data2010.set_index('state', inplace=True)

KeyError: "None of ['state'] are in the columns"

In [54]:
density = data2010['population'] / data2010['area (sq. mi)'] 
density.sort_values(ascending=False, inplace=True)
density.head()

state
District of Columbia    8898.897059
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
Massachusetts            621.815538
dtype: float64

In [55]:
density.tail()

state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64

In [51]:
data2010

                     state/region   ages  year  population  area (sq. mi)
state
Alabama                        AL  total  2010   4785570.0          52423
Alaska                         AK  total  2010    713868.0         656425
Arizona                        AZ  total  2010   6408790.0         114006
Arkansas                       AR  total  2010   2922280.0          53182
California                     CA  total  2010  37333601.0         163707
Colorado                       CO  total  2010   5048196.0         104100
Connecticut                    CT  total  2010   3579210.0           5544
Delaware                       DE  total  2010    899711.0           1954
District of Columbia           DC  total  2010    605125.0             68
Florida                        FL  total  2010  18846054.0          65758
Georgia                        GA  total  2010   9713248.0          59441
Hawaii                         HI  total  2010   1363731.0          10932
Idaho                          ID  total  2010   1570718.0          83574
Illinois                       IL  total  2010  12839695.0          57918
Indiana                        IN  total  2010   6489965.0          36420
Iowa                           IA  total  2010   3050314.0          56276
Kansas                         KS  total  2010   2858910.0          82282
Kentucky                       KY  total  2010   4347698.0          40411
Louisiana                      LA  total  2010   4545392.0          51843
Maine                          ME  total  2010   1327366.0          35387
Maryland                       MD  total  2010   5787193.0          12407
Massachusetts                  MA  total  2010   6563263.0          10555
Michigan                       MI  total  2010   9876149.0          96810
Minnesota                      MN  total  2010   5310337.0          86943
Mississippi                    MS  total  2010   2970047.0          48434
Missouri                       MO  total  2010   5996063.0          69709
Montana                        MT  total  2010    990527.0         147046
Nebraska                       NE  total  2010   1829838.0          77358
Nevada                         NV  total  2010   2703230.0         110567
New Hampshire                  NH  total  2010   1316614.0           9351
New Jersey                     NJ  total  2010   8802707.0           8722
New Mexico                     NM  total  2010   2064982.0         121593
New York                       NY  total  2010  19398228.0          54475
North Carolina                 NC  total  2010   9559533.0          53821
North Dakota                   ND  total  2010    674344.0          70704
Ohio                           OH  total  2010  11545435.0          44828
Oklahoma                       OK  total  2010   3759263.0          69903
Oregon                         OR  total  2010   3837208.0          98386
Pennsylvania                   PA  total  2010  12710472.0          46058
Rhode Island                   RI  total  2010   1052669.0           1545
South Carolina                 SC  total  2010   4636361.0          32007
South Dakota                   SD  total  2010    816211.0          77121
Tennessee                      TN  total  2010   6356683.0          42146
Texas                          TX  total  2010  25245178.0         268601
Utah                           UT  total  2010   2774424.0          84904
Vermont                        VT  total  2010    625793.0           9615
Virginia                       VA  total  2010   8024417.0          42769
Washington                     WA  total  2010   6742256.0          71303
West Virginia                  WV  total  2010   1854146.0          24231
Wisconsin                      WI  total  2010   5689060.0          65503
Wyoming                        WY  total  2010    564222.0          97818

In [34]:
# df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
#                     'rank': [1, 2, 3, 4]})

In [35]:
#df9 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
#                    'rank': [3, 1, 4, 2]})

In [36]:
#print(pd.merge(df8, df9, on="name"))

   name  rank_x  rank_y
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

In [37]:
#print(pd.merge(df8, df9, on="name", suffixes=["_L", "_R"]))

   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

In [38]:
#print(pd.merge(df8, df9, on="name", prefixes=["_L", "_R"]))

TypeError: merge() got an unexpected keyword argument 'prefixes'

In [42]:
#import seaborn as sns
#planets = sns.load_dataset('planets') 
#planets.shape

(1035, 6)

In [16]:
#import sklearn as sk
#sk.preprossers.OutlotEncoder()